<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>Index</h2>
<form action="/servletHandler.do">
	<input type="submit" value="servletHandler"/>
</form>
<form action="/postCode.do">
	<input type="submit" value="postCode" />
</form>
<form action="/keyDown.do">
	<input type="submit" value="keydown" />
</form>
<form action="/restAjax.do">
	<input type="submit" value="restAjax" />
</form>
<form action="uploadImg.do">
	<input type="submit" value="uploadImg" />
</form>
</body>
</html>