<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>regex</title>
<script src="/common/js/common.js"></script>
<script src="/common/js/jQuery.js"></script>
</head>
<body>
<h2>regex</h2>
<div style="margin-bottom: 50px;">
	<h4>숫자만 입력가능한 input</h4>
	<input type="text" id="regex_number" onKeyup="this.value=this.value.replace(/[^0-9]/g,'')" placeholder="숫자만 입력가능" />
</div>
<!-- 참조 : https://jess2.xyz/JavaScript/variable-regex/ -->
<div>
	<h4>입력된 문자열 찾기</h4>
	<textarea id="findLetter" cols="30" rows="10" readonly style="display: block; margin-bottom: 10px;">
sales1.xls
orders3.xls
sales2.xls
sales3.xls
apac1.xls
europe2.xls
na1.xls
na2.xls
sa1.xls
	</textarea>
	<input type="text" id="letterPattern" placeholder="패턴을 입력하세요" />
	<button onclick="fn_find()">찾기</button>
</div>


</body>


<script>
function fn_find() {
	let letter = $('#findLetter').val();
	console.log(letter);
	
	let letterPatternVal = $('#letterPattern').val();
	console.log(letterPatternVal);
	
	let letterPattern = new RegExp(letterPatternVal, "g");
	console.log(letterPattern);
	
	let result = letterPattern.exec(letter);
	console.log(result);
	
}

</script>

</html>